<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">SEVEN STAR SYSTEM 株式会社</a>
    <img class="img-fluid logo" src="/img/logo.jpg" alt="recommend chart">
    <!--
    <div class="lang">
      <ul>
        <li><a class="jp" href="{{ site.base-url }}{{ postjp.url }}">JP</a></li>
        <li><a class="cn" href="{{ site.base-url }}{{ postcn.url }}">CN</a></li>
      </ul>
    </div>
    -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      メニュー
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">ホームページ</a>
          <a class="nav-link" href="{{"/2020/01/30/featuresJP" | relative_url }}">選ばれる4つの特長</a>
          <a class="nav-link" href="{{"/2020/01/29/serviceJP" | relative_url }}">基本サービス</a>
          <a class="nav-link" href="{{"/2020/01/29/priceJP" | relative_url }}">費用</a>
          <a class="nav-link" href="{{"/2020/01/29/benefitsJP" | relative_url }}">選ばれる3つの特典</a>
          <a class="nav-link" href="{{"/2020/01/28/optionalservicesJP" | relative_url }}">その他オプション</a>
          <a class="nav-link" href="{{"/2020/01/27/PDFjp" | relative_url }}">お申し込みのご案内</a>
          <a class="nav-link" href="{{"/2020/01/27/form" | relative_url }}">お問い合わせ</a>
          <a class="nav-link" href="{{"/2020/01/27/applicationJP" | relative_url }}">ご契約までの流れ</a>
          <a class="nav-link" href="{{"/2020/01/26/necessaryDocumentsJP" | relative_url }}">必要書類</a>
          <a class="nav-link" href="{{"/2020/01/25/shit" | relative_url }}">バーチャルオフィスの法人登記について</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">紹介</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
