---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

header.masthead .overlay{
    opacity: .1;
}

.new-subtitle {
    font-weight: 300;
}

.post-title {
    text-align: center;
}

.post-subtitle {
    text-align: center;
}

.address h1{
    text-align: center
}

h2.subheading{
    text-align: center;
}

.logo {
    width: 12%
}