---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 lang="jp">おススメキャンペーン</h1>
        <h3 lang="jp" class="new-subtitle">格安バーチャルオフィスコース
        （住所のみ）
        都心でも一等地な港区の住所をレンタルするプランです。
        法人登記も可能で月4回の郵便転送付きです。</h3>
        <br>
        <img class="img-fluid" src="/img/image2.png" alt="cost">
        <br>
        <br>
        <img class="img-fluid" src="/img/image4.png" alt="what a deal!">
        <br>
        <br>
        <h3 lang="jp" class="new-subtitle">SEVEN STAR SYSTEMでそんなお悩みを即解決！
        快適なバーチャルオフィスライフをお約束します！まずはお気軽にお問い合わせください。
        </h3>
        <br>
        <br>

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <!--
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          -->
        </article>
        
        <hr>
        
        

        {% endfor %}
        <br>
        <br>

        <div class="address">
          <h1 lang="jp">立地</h1>
          <h1 lang="jp">〒108-0023</h1>
          <h1 lang="jp">東京都港区芝浦三丁目19-18</h1>
          <h1>内村芝浦ビル4F</h1>
        </div>

        <!-- Pager -->
        <!--
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
        -->
      </div>
      
    </div>
  </div>
