---
layout: defaultCN
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>7STAR 共享办公室和秘书中心</h1>
                        <span class="subheading">廉价的共享办公室（仅地址）这是在東京都港区租一个地址的计划，市中心的黄金地段。公司注册也是可能的，每月有四次邮政转寄</span>
                        <br>
                        <br>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <a class="btn btn-light" role="button" style="border: 1px solid #9c9c9c; border-radius: .25rem;" href="{{"/" | prepend: site.baseurl | replace: '//' , '/' }}">日本語</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 lang="jp">推荐活动</h1>
                <h3 lang="jp" class="new-subtitle">廉价的共享办公室（仅地址）这是在東京都港区租一个地址的计划，市中心的黄金地段。公司注册也是可能的，每月有四次邮政转寄</h3>
                <br>
                <img class="img-fluid" src="/img/image2.png" alt="cost">
                <br>
                <br>
                <img class="img-fluid" src="/img/image4.png" alt="what a deal!">
                <br>
                <br>
                <h3 lang="jp" class="new-subtitle">SEVEN STAR SYSTEM这样您就可以立即解决此类问题！
                我们承诺提供舒适的共享办公室生活！请随时与我们联系。
                </h3>
                <br>
                <br>
                <h1 style="text-align: center;">☎️03-5545-5500</h1>
                <br>

                {{ content }}

                <!-- Home Post List -->
                {% assign posts=site.posts | where:"lang", "cn" %}
                {% for post in posts %}

                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% else %}
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                        {% endif %}
                    </a>
                    <!--
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          -->
                </article>

                <hr>



                {% endfor %}
                <br>
                <br>

                <div class="address">
                    <h1 lang="jp">東京都港区</h1>
                </div>

                <!-- Pager -->
                <!--
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
        -->
            </div>

        </div>
    </div>