---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            <br>
            <br>
            <div style="display: flex; align-items: center; justify-content: center;">
              <a class="btn btn-light" role="button" style="border: 1px solid #9c9c9c; border-radius: .25rem;" href="{{"indexCN" | prepend: site.baseurl | replace: '//' , '/' }}">中国語</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 lang="jp">おススメキャンペーン</h1>
        <h3 lang="jp" class="new-subtitle">キャンペーン価格は先着50名様で締め切らせていただきます。
        </h3>
        <br>
        <h3 class="new-subtitle">オフィスに縛られず、好きな時間・好きな場所で働きたい方
        普段は会社に勤めており、副業でバーチャルオフィスを利用されたい方
        ビジネスに関わるあらゆるコストを削減したい方
        </h3>
        <br>
        <img class="img-fluid" src="/img/image2.png" alt="cost">
        <br>
        <br>
        <img class="img-fluid" src="/img/image4.png" alt="what a deal!">
        <br>
        <br>
        <h3 lang="jp" class="new-subtitle">SEVEN STAR SYSTEMでそんなお悩みを即解決！
        快適なバーチャルオフィスライフをお約束します！まずはお気軽にお問い合わせください。
        </h3>
        <br>
        <br>
        <h1 style="text-align: center;">☎️03-5244-9360</h1>
        <br>

        {{ content }}

        <!-- Home Post List -->
        {% assign posts=site.posts | where:"lang", "jp" %}
        {% for post in posts %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <!--
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
          -->
        </article>
        
        <hr>
        {% endfor %}

        <br>
        <br>

        <div class="address">
          <h1 lang="jp">住所：東京都港区芝浦3丁目</h1>
        </div>

        <!-- Pager -->
        <!--
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
        -->
      </div>
      
    </div>
  </div>
